<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/css/index.css}" rel="stylesheet">
</head>
<body>
	<div class="container">
		<section id="content">
			<form method="post" action="/login" th:object="${managerAccount}">
				<h1>ログイン画面</h1>
				<div>
					<input type="text" placeholder="Login ID" id="username"
						name="loginID" th:field="*{loginID}" />
				</div>
				<div>
					<input type="password" placeholder="Password" id="password"
						name="password" th:field="*{password}" />
				</div>
				<div>
					<input type="submit" value="Log in" />
				</div>
			</form>
		</section>
	</div>

</body>
</html>